<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="sequenceGenerator" class="pl.mpolak.m02_map.SequenceGenerator">
        <property name="prefix" value="30"/>
        <property name="suffixes">
            <map>
                <entry key="type" value="A"/>
            </map>
        </property>
        <property name="initial" value="100000"/>
    </bean>

</beans>